<div class="row">
    <div class="col-lg-12">
        <h1 ncy-breadcrumb></h1>
    </div>
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <!-- /.panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                All Students
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Index number</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Generation</th>
                            <th>Student Type</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="student in students" ng-click="editStudentPoints(student._id)">
                            <td>{{student.indexNum}}</td>
                            <td>{{student.firstName}}</td>
                            <td>{{student.lastName}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.generation}}</td>
                            <td>{{student.studentType}}</td>
                            <td><button class="btn btn-default" ng-click="editStudentPoints(student._id)"><span class="fa fa-pencil"></span></button></td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-hide="students.length > 0">There are no available students</div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Lectures attendance chart
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-chart-lectures"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>Labs attendance chart
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-chart-labs"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
