<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="panel.content.dashboard">CS450 Student progress tracking app</a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a ng-href="https://mail.metropolitan.ac.rs/">
            <i class="fa fa-envelope fa-fw"></i>
        </a>
        <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li ng-hide="user.userType !== 'ADMIN'"><a ui-sref="panel.content.addNewAdmin"><i class="fa fa-user fa-fw"></i> Add New Admin</a>
            </li>
            <li ng-hide="user.userType !== 'ADMIN'"><a ui-sref="panel.content.addNewProfessor"><i class="fa fa-user fa-fw"></i> Add New Professor</a>
            </li>
            <li ng-hide="user.userType !== 'ADMIN'"><a ui-sref="panel.content.addNewStudent"><i class="fa fa-graduation-cap fa-fw"></i> Add New Student</a>
            </li>
            <li><a ui-sref="panel.content.myProfile"><i class="fa fa-gear fa-fw"></i> My Settings</a>
            </li>
            <li class="divider"></li>
            <li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<br>
<toast></toast>
<!-- /.navbar-top-links -->