.label{
    color:#000
}

form .error_messages{
    color: #a70532;
    background-color: #F3EDEF;
    margin-top: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #a70532;
    padding: 5px;
}

.form-static-usertype{
    color: #a70532;
    background-color: #F3EDEF;
}

.breadcrumb{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    font-size: 20px;
}

.ng-image-crop button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;

    color: #fff;
    background-color: #a70532;
    border-color: #a70532;
    margin-top: 0px;
}

.ng-image-crop > section{
    background-color: #fff;
}

.image-crop-buttons{
    text-align: center;
}

.image-crop-result{
    margin-bottom: 10px;
}

.image-crop-result img {
    display:block;
    margin:auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.ng-image-crop section canvas{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.ng-image-crop section input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.center-text{
    text-align: center;
}

.cropArea{
    min-height: 440px;
}

.color-green{
    color: #4AA505;
}

.color-met{
    color: #a70532;
}

html, body{
    height: 100%;
}

.full-height{
    height: 100%;
}

#page-wrapper{
    height: 100%;
    display:block;
    overflow:auto;
}

.ng-toast{
    margin-top: 65px !important;
}

.modal-header{
    background-color: #a70532;
    color: #fff;
}

.selected-row{
    background-color: #F3EDEF;
}

.user-info{
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.user-info .info{
    padding: .2em .6em .3em;
}

.user-info .user-type{
    margin-left: 9px;
}

.btn-met {
    color: #fff;
    background-color: #a70532;
    border-color: #a70532;
}

.btn-add {
    color: #fff;
    background-color: #0D9F64;
    border-color: #0D9F64;
}

.tab-general{
    margin-bottom: 20px;
    padding: 15px;
}

.tab-content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #a70532;
}

.tooltip-inner{
    background-color: #a70532;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #a70532;
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #a70532;
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #a70532;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #a70532;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #a70532;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #a70532;
}
.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #a70532;
}
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #a70532;
}