<div class="row">
    <div class="col-lg-12">
        <h1 ncy-breadcrumb></h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Students
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover" ng-init="init()">
                        <thead>
                        <tr>
                            <th>Index number</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Generation</th>
                            <th>Student Type</th>
                            <th>Active</th>
                            <th>Last Active Date</th>
                            <th>Edit</th>
                            <th>Edit Student Points</th>
                            <th>Deactivate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="student in students" ng-click="editStudentPoints(student._id)">
                            <td>{{student.indexNum}}</td>
                            <td>{{student.firstName}}</td>
                            <td>{{student.lastName}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.generation}}</td>
                            <td>{{student.studentType}}</td>
                            <td><span class="fa fa-check color-green" ng-show="student.isActive"></span><span class="fa fa-times color-met" ng-show="!student.isActive"></span></td>
                            <td>{{student.lastLoginDate | date:'dd/MM/yyyy ' + at + ' h:mma'}}
                            <td><button class="btn btn-default" ng-click="editStudent(student._id)"><span class="fa fa-pencil"></span></button></td>
                            <td><button class="btn btn-default" ng-click="editStudentPoints(student._id)"><span class="fa fa-pencil"></span></button></td>
                            <td><button class="btn btn-met" ng-click="showModalDialog(student._id)"><span class="fa fa-times-circle"></span></button></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-hide="students.length > 0">There are no available students</div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>