<div class="container  at-view-slide-in-right at-view-slide-out-right student-view-container">
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default student-dashboard">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Edit profile
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-lg-6" ng-init="init()">
                                    <form role="form" name="editProfileForm"
                                          ng-submit="editProfileForm.$valid && editUserProfile()" novalidate>
                                        <div class="form-group">
                                            <label>User Type</label>

                                            <p class="form-control-static"><span class="form-static-usertype">{{user.userType}}</span>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input class="form-control" placeholder="Input First Name (ex. Bogdan)"
                                                   name="firstName" ng-model="user.firstName" class="form-control"
                                                   ng-required="true">

                                            <div class="error_messages" ng-messages="editProfileForm.firstName.$error"
                                                 ng-if="(editProfileForm.firstName.$touched || editProfileForm.$submitted) && !editProfileForm.firstName.$valid">
                                                <div ng-message="required">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input class="form-control" placeholder="Input Last Name (ex. Begovic)"
                                                   name="lastName" ng-model="user.lastName" class="form-control"
                                                   ng-required="true">

                                            <div class="error_messages" ng-messages="editProfileForm.lastName.$error"
                                                 ng-if="(editProfileForm.lastName.$touched || editProfileForm.$submitted) && !editProfileForm.lastName.$valid">
                                                <div ng-message="required">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" placeholder="Input Email (ex. bogdan@mail.com)"
                                                   name="email" ng-model="user.email" class="form-control"
                                                   email-validator
                                                   ng-required="true">

                                            <div class="error_messages" ng-messages="editProfileForm.email.$error"
                                                 ng-if="(editProfileForm.email.$touched || editProfileForm.$submitted) && !editProfileForm.email.$valid">
                                                <div ng-message="required">You have to input your email address</div>
                                                <div ng-message="email">Email has to be valid (ex. peter@mail.com)</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>New Password:</label>
                                            <input type="password" name="password" ng-model="password" class="form-control">
                                        </div>

                                        <div ng-show="!passwordError">
                                            <div class="error_messages">
                                                <div>{{errorMessage}}</div>
                                            </div>
                                            <br>
                                        </div>

                                        <div class="form-group">
                                            <label>Repeat New Password:</label>
                                            <input type="password" name="passwordRepeat" ng-model="repeatPassword"
                                                   class="form-control">
                                        </div>

                                        <div ng-show="!passwordRepeatError">
                                            <div class="error_messages">
                                                <div>{{errorMessage}}</div>
                                            </div>
                                            <br>
                                        </div>

                                        <div class="form-group" ng-if="user.userType === 'STUDENT'">
                                            <label>Student generation</label>
                                            <input class="form-control"
                                                   placeholder="Input Student generation (ex. 2014/2015)" name="generation"
                                                   ng-model="user.generation" class="form-control"
                                                   ng-required="true">

                                            <div class="error_messages" ng-messages="editProfileForm.generation.$error"
                                                 ng-if="(editProfileForm.generation.$touched || editProfileForm.$submitted) && !editProfileForm.generation.$valid">
                                                <div ng-message="required">This field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="user.userType === 'STUDENT'">
                                            <label>Student index number</label>
                                            <input class="form-control"
                                                   type="number"
                                                   placeholder="Input Student index number(ex. 1041)" name="indexNum"
                                                   ng-model="user.indexNum" class="form-control"
                                                   ng-required="true">

                                            <div class="error_messages" ng-messages="editProfileForm.indexNum.$error"
                                                 ng-if="(editProfileForm.indexNum.$touched || editProfileForm.$submitted) && !editProfileForm.indexNum.$valid">
                                                <div ng-message="required">This field is required</div>
                                                <div ng-message="number">You have to input number</div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="user.userType === 'STUDENT'">
                                            <label>Student type</label>
                                            <select class="form-control" name="studentType" ng-model="user.studentType"
                                                    class="form-control"
                                                    ng-required="true">
                                                <option>Traditional</option>
                                                <option>Internet</option>
                                            </select>

                                            <div class="error_messages" ng-messages="editProfileForm.studentType.$error"
                                                 ng-if="(editProfileForm.studentType.$touched || editProfileForm.$submitted) && !editProfileForm.studentType.$valid">
                                                <div ng-message="required">This field is required</div>
                                            </div>
                                        </div>

                                        <button type="submit" id="submit" class="btn btn-met" value="Submit"> Submit
                                        </button>
                                        <button type="reset" class="btn btn-default" ng-click="resetForm()">Reset</button>

                                    </form>
                                </div>

                                <div class="col-lg-6" ng-show="user.picture">
                                    <div class="form-group center-text">
                                        <label>User picture</label>

                                        <div class="image-crop-result">
                                            <img ng-src="{{ user.picture }}" alt="The Cropped Image">
                                        </div>

                                        <div class="image-crop-buttons">
                                            <button class="btn btn-default" ng-click="changePicture()">
                                                Change user picture
                                            </button>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-6" ng-hide="user.picture">
                                    <div class="form-group center-text">
                                        <label>User picture</label>

                                        <div ng-show="pictureStep<3" class="cropArea">
                                            <image-crop
                                                    data-width="300"
                                                    data-height="300"
                                                    data-shape="square"
                                                    data-result="tmpPicture"
                                                    data-step="pictureStep"
                                                    ></image-crop>
                                        </div>
                                        <div ng-show="tmpPicture" class="image-crop-result">
                                            <img ng-src="{{ tmpPicture }}" alt="The Cropped Image">
                                        </div>

                                        <div class="image-crop-buttons">
                                            <button class="btn btn-default" ng-click="resetCrop()"
                                                    ng-show="pictureStep===3">
                                                Reset
                                            </button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-8 -->

    </div>
    <!-- /.row -->
</div>