<div class="row">
    <div class="col-lg-12">
        <h1 ncy-breadcrumb ></h1>
    </div>
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Create new professor
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" name="newProfessorForm"
                                      ng-submit="newProfessorForm.$valid && createNewProfessor()" novalidate>
                                    <div class="form-group">
                                        <label>User Type</label>

                                        <p class="form-control-static"><span class="form-static-usertype">PROFESSOR</span>
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" placeholder="Input First Name (ex. Bogdan)"
                                               name="firstName" ng-model="professor.firstName" class="form-control"
                                               ng-required="true">

                                        <div class="error_messages" ng-messages="newProfessorForm.firstName.$error"
                                             ng-if="(newProfessorForm.firstName.$touched || newProfessorForm.$submitted) && !newProfessorForm.firstName.$valid">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input class="form-control" placeholder="Input Last Name (ex. Begovic)"
                                               name="lastName" ng-model="professor.lastName" class="form-control"
                                               ng-required="true">

                                        <div class="error_messages" ng-messages="newProfessorForm.lastName.$error"
                                             ng-if="(newProfessorForm.lastName.$touched || newProfessorForm.$submitted) && !newProfessorForm.lastName.$valid">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" placeholder="Input Email (ex. bogdan@mail.com)"
                                               name="email" ng-model="professor.email" class="form-control"
                                               email-validator
                                               ng-required="true">

                                        <div class="error_messages" ng-messages="newProfessorForm.email.$error"
                                             ng-if="(newProfessorForm.email.$touched || newProfessorForm.$submitted) && !newProfessorForm.email.$valid">
                                            <div ng-message="required">You have to input your email address</div>
                                            <div ng-message="email">Email has to be valid (ex. peter@mail.com)</div>
                                        </div>
                                    </div>

                                    <button type="submit" id="submit" class="btn btn-met" value="Submit"> Submit
                                    </button>
                                    <button type="reset" class="btn btn-default" ng-click="resetForm()">Reset</button>

                                </form>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group center-text">
                                    <label>User picture</label>

                                    <div ng-show="pictureStep<3" class="cropArea">
                                        <image-crop
                                                data-width="300"
                                                data-height="300"
                                                data-shape="square"
                                                data-result="student.picture"
                                                data-step="pictureStep"
                                                ></image-crop>
                                    </div>
                                    <div ng-show="student.picture" class="image-crop-result">
                                        <img ng-src="{{ student.picture }}" alt="The Cropped Image">
                                    </div>

                                    <div class="image-crop-buttons">
                                        <button class="btn btn-default" ng-click="resetCrop()"
                                                ng-show="pictureStep===3">
                                            Reset
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
    <!-- /.col-lg-8 -->

</div>
<!-- /.row -->