<div class="row">
    <div class="col-lg-12">
        <h1 ncy-breadcrumb></h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Professors
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover" ng-init="init()">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Active</th>
                            <th>Last Active Date</th>
                            <th>Edit</th>
                            <th>Deactivate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="professor in professors">
                            <td>{{professor.firstName}}</td>
                            <td>{{professor.lastName}}</td>
                            <td>{{professor.email}}</td>
                            <td><span class="fa fa-check color-green" ng-show="professor.isActive"></span><span class="fa fa-times color-met" ng-show="!professor.isActive"></span></td>
                            <td>{{professor.lastLoginDate | date:"dd/MM/yyyy 'at' h:mma"}}
                            <td><button class="btn btn-default" ng-click="editProfessor(professor._id)"><span class="fa fa-pencil"></span></button></td>
                            <td><button class="btn btn-met" ng-click="deactivateProfessor(professor._id)"><span class="fa fa-times-circle"></span></button></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-hide="students">There are no available professors</div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>